a {
    text-decoration: none;
}

body {
    background-color: rgb(250,250,250);
}

small {
    color: gray;
    font-size: 10pt;
}

#dstaddr {
    width: 40%;
}

#lgResult {
    border-radius: 25px;
}

#inputWarn {
    display: none;
}

#inputWarn > p {
    color: red;
}

#lgResult {
    opacity: 85%;
    display: none;
}

#footer > p {
    text-align: center;
    font-size: 11pt;
}